@import './_reset.scss';
@import './_csshack.scss';
@import './_variables/_variable.scss';
@import './_mixins/_mixin.scss';
@import './_fonts/_font.scss';
@import './_animations/_animation.scss';

*, :before, :after {
	box-sizing: border-box;
}

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	background: #000;
	font-family: 'Source Han Sans', 'Microsoft Jhenghei', 'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
	-webkit-transition: ease-in .4s;
	-moz-transition: ease-in .4s;
	-ms-transition: ease-in .4s;
	-o-transition: ease-in .4s;
	transition: ease-in .4s;
}

.mask {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: $theme;
	z-index: 9999;
}

#nav {
	position: fixed;
	top: 0;
	right: 0;
	width: 100%;
	padding: .5em 1em 0 0;
	line-height: 2em;
	text-align: right;
	z-index: 999;
}

.tags {
	float: right;
}

.tags a {
	float: left;
	height: 2em;
	padding: 0 .5em;
	font-family: 'Open Sans', sans-serif;
	color: rgba(255,255,255,.7);
	transition: ease-in-out .4s;
	&:hover {
		color: #FFF;
	}
}

.tags .active {
	color: #FFF;
}

#nav .indicator {
	position: absolute;
	bottom: 0;
	right: 232px;
	width: 61px;
	height: 3px;
	background: #fff;
	transition: 640ms cubic-bezier(.68,-.55,.27,1.55);
}

#main {
	width: 100%;
	height: 100%;
	transition: 640ms cubic-bezier(.68,-.55,.27,1.55);
	transform: translate3d(0%, 0px, 0px);
}

.resume-pages {
	position: absolute;
	width: 100%;
	height: 100%;
}

section {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

// Home

section[data-name=home] {
	left: 0;
	background: $theme;
	display: table;
}

section[data-name=home] .resume-container {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

// section[data-name=home] canvas {
// 	width: 100vw;
// 	height: 100vh;
// }

section[data-name=home] .avatar-box {
	position: relative;
	display: inline-block;
	// width: 14em;
	// height: 14em;
}

section[data-name=home] .loading-line {
	top: 50%;
    left: 50%;
    width: 18em;
    height: 18em;
    position: absolute;
    margin-top: -9em;
    margin-left: -9em;
    border: .2em solid transparent;
    border-color: #FFF;
    // border-top-color: $blue;
    // border-right-color: $red;
    // border-bottom-color: $yellow;
    // border-left-color: $cyan;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    // -webkit-transform: rotate(-45deg);
    // transform: rotate(-45deg);
    -webkit-animation: primer-foto-línea-entra .6s infinite;
    animation: primer-foto-línea-entra .6s infinite;
}

section[data-name=home] .avatar {
	// display: none;
	position: relative;
	// padding: 10px;
	display: inline-block;
	width: 16em;
	height: 16em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background: url(../imgs/avatar.jpg) 50% 4%;
	// border: 5px solid rgba(255,255,255,.25);
	// background-size: cover;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	
	transform: translateY(-120px);
	opacity: 0;

	// -webkit-transition: -webkit-transform 340ms ease-in-out;
	// transition: transform 340ms ease-in-out;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		display: inline-block;
		width: 0;
		height: 0;
		border-radius: 120%;
		background: rgba(0,0,0,.15);
		// box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
		transition: 340ms ease-in-out;
	}
	&:hover:after {
		top: -10%;
		left: -10%;
		width: 120%;
		height: 120%;
	}
}

section[data-name=home] h1 {
    color: #fff;
    font-family: 'Lobster Two', '华文黑体', 'STHeiti','微软雅黑', 'Microsoft Yahei', '黑体', 'SimHei', sans-serif;
    font-size: 3em;
    font-weight: 400;
    text-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
    margin: .75em 0 0;
    transform: translateY(120px);
	opacity: 0;
}

section[data-name=home] p {
    color: #f2f2f2;
    font-size: 1.5em;
    // font-style: italic;
    text-shadow: 0 2px 5px rgba(0,0,0,0.16), 0 2px 10px rgba(0,0,0,0.12);
    margin: 1em 0 0;
    transform: translateY(120px);
	opacity: 0;
}



// About

section[data-name=about] {
	left: 100%;
	// background: $grey url(../imgs/about-bg-filter.jpg);
	// background-size: cover;
	background: $cyan;
	overflow: scroll;
	// display: table;
}

section[data-name=about] .resume-container {
	text-align: left;
}

section[data-name=about] .console {
	width: 750px;
	height: 100vh;
	margin: 0 auto;
	margin-top: 64px;
	margin-bottom: 64px;
	background: rgba(31,31,31,.7);
	border-radius: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
	overflow: hidden;
}

@media screen and (min-width: 833px) {
	section[data-name=about] .console {
		width: 750px;
	}
}

@media screen and (max-width: 832px) {
	section[data-name=about] .console {
		width: 90%;
	}
}
@media screen and (max-width: 480px) {
	section[data-name=about] .console {
		width: 432px;
	}
}


section[data-name=about] .top-bar {
	position: relative;
	width: 100%;
	height: 21px;
	padding: 4px 0;
	background: linear-gradient(to bottom, rgb(244,243,244) 0%, rgb(207,206,207) 100%);
}

section[data-name=about] .task-bar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 21px;
	font: normal 13px/21px 'Helvetica Neue', Helvetica, Arial, serif;
	text-align: center;
	color: #000;
}

section[data-name=about] .panel {
	float: left;
	padding-left: 7px;
}

section[data-name=about] span.close-btn,
section[data-name=about] span.min-btn,
section[data-name=about] span.max-btn {
	display: inline-block;
	float: left;
	width: 13px;
	height: 13px;
	margin-right: 7px;
	border-radius: 13px;
}

section[data-name=about] span.close-btn {
	background: #FF5F4F;
}
section[data-name=about] span.min-btn {
	background: #F9C206;
}
section[data-name=about] span.max-btn {
	background: #19CC32;
}

section[data-name=about] .console-window {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 3px 6px;
	font-family: 'Courier New', 'STSongti', 'SimSong', serif;
	font-size: 14px;
	color: rgb(199,199,199);
	line-height: 24px;
	ul li {
		float: left;
		width: 100%;
		height: 24px;
		overflow: hidden;
		span {
			display: inline-block;
		}
	}
}

section[data-name=about] .console-window .divider {
	float: left;
	width: 100%;
	height: 0;
	border-bottom: 1px dashed rgb(199,199,199);
	margin: 11px 0;
}

section[data-name=about] .console-window .title {
	font-weight: bold;
	color: #FFF;
}

section[data-name=about] .console-window .item-title {
	position: absolute;
	left: 6px;
	min-width: 90px;
	color: rgb(199,199,199);
}

section[data-name=about] .console-window .item-content {
	padding-left: 96px;
	color: $node-color;
}
section[data-name=about] .console-window .item-content a {
	color: $node-color;
	text-decoration: underline;
}

section[data-name=about] .console-window .item-para {
	color: rgb(199,199,199);
}

section[data-name=about] .console-window .progress-bar {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
}

section[data-name=about] .console-window .item-content span {
	height: 16px;
	margin: 4px;
	background: rgba(199,199,199,.7);
	transition: ease-in-out .4s;
}

section[data-name=about] .console-window .item-content .html-bar {
	width: 75%;
	background: $html-color;
}

section[data-name=about] .console-window .item-content .css-bar {
	width: 80%;
	background: $css-color;
}

section[data-name=about] .console-window .item-content .es5-bar {
	width: 70%;
	background: $js-color;
}

section[data-name=about] .console-window .item-content .es6-bar {
	width: 50%;
	background: $js-color;
}

section[data-name=about] .console-window .item-content .node-bar {
	width: 50%;
	background: $node-color;
}

section[data-name=about] .console-window .item-content .jq-bar {
	width: 65%;
}

section[data-name=about] .console-window .item-content .react-bar {
	width: 30%;
}

section[data-name=about] .console-window .item-content .webpack-bar {
	width: 30%;
}

section[data-name=about] .console-window .item-content .python-bar {
	width: 40%;
}





// Achieves

section[data-name=achieves] {
	left: 200%;
	background: $red;
	overflow: scroll;
}

section[data-name=achieves] .resume-container {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin-top: 64px;
}

section[data-name=achieves] [class^="card-box-"] {
	position: relative;
	width: 90%;
	height: 320px;
	margin-bottom: 32px;
	border-radius: 2px;
	background: #FFF;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	transition: .3s ease-out;
	&:hover {
		box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
	}
}

section[data-name=achieves] .card-info {
	display: -webkit-flex;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	position: absolute;
	width: 35%;
	height: 100%;
	padding: 12px;
}

section[data-name=achieves] .card-title {
	display: inline;
	width: 100%;
	font: normal 17px/24px 'PingFangSC-Medium', 'Microsoft Yahei', 'SimHei';
	color: $red;
}

section[data-name=achieves] .card-text {
	height: 236px;
	padding: 12px 0;
	font: normal 14px/24px 'PingFangSC-Regular', 'Microsoft Yahei', 'SimHei';
}

section[data-name=achieves] .card-more {
	align-self: flex-end;
	height: 36px;
	padding: 0 2rem;
	text-align: center;
	font: normal 15px/36px 'PingFangSC-Light';
	letter-spacing: .5px;
	color: #FFF;
	border-radius: 2px;
	background: $red;
	transition: .3s ease-out;
	&:hover {
		box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
	}
}

section[data-name=achieves] .card-bg {
	position: relative;
	// align-self: flex-end;
	float: right;
	width: 65%;
	height: 100%;
	transition: .4s ease-in-out;
	opacity: .5;
	&:after {
		position: absolute;
		content: '';
		width: 50%;
		height: 100%;
		background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
	}
	&:hover {
		opacity: 1;
	}
}

section[data-name=achieves] [class="card-box-1"] .card-bg {
	background: url(../imgs/about-bg.jpg) 50% 4%;
	background-size: cover;
}



// Contact

section[data-name=contact] {
	left: 300%;
	background: $yellow;
}